#root {

  margin: 0;
  /* padding: 2rem; */

}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans&display=swap');

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #c2d1d9;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #74a1bf;
  background: -webkit-linear-gradient(to bottom, #84b4d6, #749bbf);
  background: linear-gradient(to bottom, #81abc9, #74a5bf);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.star {
  font-size: 24px;
  cursor: pointer;
}

.filled {
  color: rgb(222, 105, 125);
  /* or any other color you prefer */
}

.watermark {
  position: absolute;
  opacity: 0.4;
  font-size: 18px;
  color: #a4cff9;
  pointer-events: none;
  transform: rotate(-45deg);
  /* Adjust the angle as needed */
  transform-origin: center;
  /* Adjust the rotation origin as needed */
}

.watermark1 {
  top: 10%;
  left: 10%;
  transform: rotate(-45deg);
  /* Adjust the angle as needed */
  transform-origin: center;
  /* Adjust the rotation origin as needed */
}

.watermark2 {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(-45deg);
  /* Adjust the angle as needed */
  transform-origin: center;
  /* Adjust the rotation origin as needed */
}

.watermark3 {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  /* Adjust the angle as needed */
  transform-origin: center;
  /* Adjust the rotation origin as needed */
}

.watermark4 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
  /* Adjust the angle as needed */
  transform-origin: center;
  /* Adjust the rotation origin as needed */
}

.watermark5 {
  bottom: 10%;
  left: 10%;
  transform: rotate(-45deg);
  /* Adjust the angle as needed */
  transform-origin: center;
  /* Adjust the rotation origin as needed */
}